<style>
    #question-container {
        border: 1px solid gray;
        margin-bottom: 1vh;
    }



    #question-container table { 
        width: 100%;

    }
    #question-container table td { 
        width: 25%;
        text-align: center;
    }



</style>

<div id="question-container" class="sequence task">



</div>